<div class="layui-tab-content">
	<button class="layui-btn" ng-click="roleAdd()">
		<i class="layui-icon">&#xe608;</i>新增
	</button>

	<button class="layui-btn layui-btn-sm layui-btn-primary"
		onclick="window.location.reload();">
		<i class="layui-icon">&#x1002;</i>
	</button>

	<table class="layui-table">
		<colgroup>
			<col ng-repeat="v in column" width='ng-bind: v.width'>
		</colgroup>
		<thead>
			<tr>
				<th ng-repeat="v in column">{{v.field}}</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="v in dataList">
				<td>{{v.id}}</td>
				<td>{{v.name}}</td>
				<td>{{v.meo}}</td>
				<td>
					<div class="layui-table-cell laytable-cell-3-6">
						<button ng-click="roleUpdate(v)"
							class="layui-btn layui-btn-sm layui-btn-normal">
							<i class="layui-icon">&#xe642;</i>修改
						</button>
						<button ng-click="roleRelation(v)"
							class="layui-btn layui-btn-sm layui-btn-normal">
							<i class="layui-icon">&#xe641;</i>权限
						</button>
						<button ng-click="roleDelete(v)"
							class="layui-btn layui-btn-sm layui-btn-danger">
							<i class="layui-icon">&#xe640;</i>删除
						</button>
					</div>
				</td>
			</tr>
		</tbody>
	</table>

	<div id="layuiPageForTest1"></div>
</div>


<div id="roleAdd" hidden="true">
	<div style="padding: 20px">
		<form class="layui-form">
			<div class="layui-form-item">
				<label class="layui-form-label">角色</label>
				<div class="layui-input-inline">
					<input type="text" name="rolename" ng-model="roleInfo.name"
						lay-verify="required|username" placeholder="请输入角色"
						autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">描述</label>
				<div class="layui-input-inline">
					<textarea name="meo" ng-model="roleInfo.meo"
						lay-verify="required|textarea|length200" placeholder="请输入描述"
						autocomplete="off" class="layui-textarea"></textarea>
				</div>
			</div>
			<div class="layui-form-item">
				<div class="layui-input-block">
					<button class="layui-btn" lay-submit lay-filter="formRole">立即提交</button>
					<button type="reset" class="layui-btn layui-btn-primary">重置</button>
				</div>
			</div>
		</form>
	</div>
</div>

<div id="roleRelation" hidden="true">
	
	<div style="padding: 20px;width:540px;dispaly:inline;">
		<div style="width:260px;float:left;">
			<form class="layui-form">
				<div id="menuTreeForRoleForm"></div>
	
			</form>
		</div>
		
		<div style="float:left;width:240px;padding:20px">
			<form  class="layui-form">
				
			 	<div class="layui-form-item" id="menuBtn">
				    <label class="layui-form-label">{{currChoiceMenuName}}_按钮权限 :</label>
				    <div class="layui-input-block">
				      <input class="menuBtn" type="checkbox" lay-filter="btn_filter"  lay-skin="primary" value="1" title="增加"> 
				      <input class="menuBtn" type="checkbox" lay-filter="btn_filter"   lay-skin="primary" value="2" title="删除"> 
				      <input class="menuBtn" type="checkbox" lay-filter="btn_filter"   lay-skin="primary" value="3" title="修改"> 
				      <input class="menuBtn" type="checkbox" lay-filter="btn_filter"   lay-skin="primary" value="4" title="查询"> 
				    </div>
			 	</div>
					
				<div class="layui-form-item">
					<div class="layui-input-inline" style="padding-left:40px;padding-top:20px">
						<button class="layui-btn" lay-submit lay-filter="formRoleRelation">立即提交</button>
						<button type="reset" class="layui-btn layui-btn-primary">重置</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

