<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.mybatis.system.SystemMapperI">

	<resultMap type="org.mybatis.system.SystemDept" id="dept">
		<id column="id" property="id" />
		<result column="parent_dpt" property="parent" />
		<result column="sort" property="sort" />
		<result column="name" property="name" />
		<result column="status" property="status" />
	</resultMap>
	<!-- 以下两个<cache>标签 可以输出日志 -->
	<cache type="org.mybatis.caches.ehcache.LoggingEhcache" />

	<select id="getMenuList"
		resultType="org.mybatis.system.SystemMapper">
		select * from t_sys_menu limit #{page},#{limit};
	</select>

	<select id="getMenuCountForList" useCache="true"
		resultType="int">
		select count(id) as count from t_sys_menu ;
	</select>

	<select id="getMenu"
		resultType="org.mybatis.system.SystemMapper">
		select * from t_sys_menu ;
	</select>

	<select id="getDept" resultMap="dept">
		select * from t_sys_dpt order by id asc,sort desc;
	</select>


	<select id="test2" resultMap="dept">
		select * from t2;
	</select>
</mapper>