<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 可以随意在当前目录 加*mapper.xml-->
<mapper namespace="org.mybatis.system.SystemMapperI">
	<insert id="insertRole">
		insert into t_sys_Role(name,meo) values(#{name},#{meo})
	</insert>
	<insert id="inserUser">
		insert into t_sys_user(name,code,email,password,loginName,dpt,phone) values (#{name},CONCAT( #{code},nextval('s_user_code')),#{email},#{password},#{loginName},#{dpt.id},#{phone})
	</insert>
	<insert id="insertRoleRelation">
		<!-- 将关联关系放入中间表的优势在于，对于除开查询外的 不需要操作太多表，只需操作中间表 -->
		<if test="roleId!=null and roleId!=''">
			insert into c_role_menu(role_id,menu_id) select #{roleId},#{menuId} from dual 
			WHERE not exists( select 1 from  c_role_menu where role_id= #{roleId} and menu_id=#{menuId}) ;
			<!-- 这儿不是用的id来检查是否存在，所以select时会锁住,只能读不能其他操作 -->
		</if>
		<if test="btnId!=null and btnId!=''" >
			insert into c_role_menu_btn(btn_id,menu_id,role_id) select #{btnId},#{menuId} ,#{roleId} from dual WHERE not exists( select 1 from  c_role_menu_btn where btn_id= #{btnId} 
			and menu_id=#{menuId} and role_id =#{roleId});
		</if>
	</insert>
</mapper>