<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="org.mybatis.test.MapperI">
<resultMap type="MapperMap1" id="testMap">
	  <result property="id" column="mid"/>
	  <result property="name" column="mname"/>
	  <collection property="blog" ofType="Blog">
	  	<result property="id" column="bid"/>
	  	<result  property="name" column="bname"/>
	  	<result  property="text" column="btext"/>
  		<association property="author" javaType="Author">
			<result  property="id" column="aid"/>
			<result  property="name" column="name"/>
  		</association>
	  </collection>
</resultMap>

  <select id="selectBlog" resultType="org.mybatis.test.Mapper">
    select * from mapper where id = #{id}
  </select>
  
   <select id="selectMapperList" resultType="org.mybatis.test.Mapper" >
   	<!-- 这儿的count有性能消耗,测试用例就不改了 -->
    select *,(select count(id) from mapper) as count from mapper  limit  #{page},#{limit}
  </select>
  
  <insert id="insertMapper">
  	insert into mapper(name,sex,wealth,classify,experience,t_b_city_id,sign) 
  	values(#{name},#{sex},#{wealth},#{classify},#{experience},#{city},#{sign});
  </insert>
  
  <insert id="insertBlog" useGeneratedKeys="true"  keyProperty="id">
  	insert into mapper(id,name) values(#{id},#{name})
  </insert>
  <update id="updateBlog" >
  
  </update>
  <select id="selectBlogById" resultMap="testMap" >
  select m.name as mname ,m.id as  mid,b.id as bid,b.name as bname,b.text as btext,a.id as aid,a.name as name from mapper m 

LEFT JOIN blog b on m.o_id = b.id LEFT JOIN author a on a.id=b.author_id where m.id=#{id}
  </select>
</mapper>